footer {
  margin-top: 200px;
  background-color: #F3F3F3;
}

.footer-wrapper {
  padding: 50px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }

  &__section > ul li:last-of-type{
    margin-bottom: 0;
    flex: 0 1 25%;

    @media (max-width: 768px)  {
      flex: 0 1 50%;
    }
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__link {
    margin-bottom: 20px;
  }

  &__number {
    font-family: $exo2;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}