footer {
  margin-top: 200px;
  background-color: #F3F3F3;
}

.footer-wrapper {
  padding: 50px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  @media (max-width: 1024px) {
    flex-wrap: wrap;
    padding: 26px 0 33px;
  }

  &__section {
    flex: 0 1 25%;

    @media (max-width: 768px) {
      flex: 0 1 50%;
      .year {
        font-size: 14px;
      }
      &.section_1 {
        order: 1
      }
      &.section_2 {
        order: 3;
        margin-top: 37px;
      }
      &.section_3 {
        order: 4;
        margin-top: 37px;
      }
      &.section_4 {
        order: 2
      }
    }
  }

  &__section > ul li:last-of-type{
    margin-bottom: 0;
  }

  &__logo {
    margin-bottom: 25px;

    @media (max-width: 768px) {
      width: 94px;
      height: 25px;
      margin-bottom: 8px;
    }
  }

  &__link {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    a {
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__number {
    font-family: $exo2;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 12px;
    }
  }

  &__socials {
    a {
      margin-right: 20px;
    }
    @media (max-width: 1024px) {
      a {
        margin-right: 10px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}

.footer-lp {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;

  &__logo {
    img {
      @media (max-width: 767px) {
        width: 180px;
      }
    }
    .rights {
      margin-top: 14px;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      max-width: 239px;
      @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
    padding-bottom: 20px;
  }

  &__info {
    & > div {
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
    a {
      text-decoration: underline #444;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 19px;
      }
    }
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    padding-bottom: 20px;
  }

  &__contacts {
    .telephone {
      display: flex;
      align-items: center;
      margin-bottom: 33px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 13px;
      }
      div {
        font-family: $ruda;
        font-weight: 700;
        font-size: 32px;
        line-height: 22px;
        @media (max-width: 767px) {
          font-size: 24px;
          line-height: 22px;
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
    .socials {
      display: flex;
      padding-left: 43px;
      a {
        margin-right: 30px;
        @media (max-width: 767px) {
          width: 32px;
          height: 32px;
          margin-right: 15px;
        }
        img {
          @media (max-width: 767px) {
            width: 32px;
            height: 32px;
          }
        }
      }
      @media (max-width: 767px) {
        padding-left: 0;
      }
    }
    padding-bottom: 20px;
    @media (max-width: 767px) {
      padding-bottom: 15px;
    }
  }
}